@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, Arimo, Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    background-color: aliceblue;
}

li {
    list-style-type: none;

}

nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: calc(100vw - 195px);
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    flex: auto;
    font-size: 0.8em;
    border-radius: 5px;
    transition: background-color 0.2s ease, font-size 0.2s ease;
    height: 200px;
    
}

nav li:hover {
    background-color: azure;
    font-size: 0.9em;
}

#logo {
    display: inline-block;
}