@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, Arimo, Arial, Helvetica, sans-serif;
}

main {
    padding-top: 60px;
}

header {
    display: flex;
    position: fixed;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

li {
    list-style-type: none;

}

nav {
    width: 50vw;
    height: inherit;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    font-size: 0.8em;
    transition: background-color 0.2s ease, font-size 0.2s ease;
    height: 50%;
    border-radius: 15px;
    margin: 0px 2px;
    
}

nav li:hover {
    background-color: rgb(205, 213, 219);
    font-size: 0.9em;
}

section#boas-vindas figure{
    /*background: url(img.png) no-repeat center / cover fixed padding-box content-box red;*/
    height: calc(100vh - 60px);
    background: url(../images/fundo/palma-da-mao.png) no-repeat center top / cover fixed border-box black;
}

#boas-vindas figure h1, #boas-vindas figure h2, #boas-vindas figure p {
    color: white;
}
